# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
logs/
Logs/
Assets/Editor/
# Other common files to ignore
*.csproj
*.unityproj
*.sln

# Explicitly tracked analyzer solution
!ARPGCORE.Adhoc.csproj
!ARPGCORE.sln
